html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

#unity-canvas {
    transform-origin: center center;
}

@media screen and (orientation: landscape) {
    #unity-canvas {
        transform: rotate(90deg);
        height: 100vw;
        width: 100vh;
    }
}